* {
  font-family: "Inter";
  color: #fff;
}

* {
  transition-duration: 0.5s;
}

sub {
  font-weight: 500;
}

.in_develop h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  margin-top: 100px;
  color: #121212;
  background-color: #d1ae59;
  border-radius: 10px;
  margin-bottom: 100px;
}
.in_develop a {
  border-radius: 50px;
  background-color: #202020;
  padding: 20px;
  display: block;
  margin: 0 auto;
  width: 400px;
}
.in_develop a:hover {
  text-decoration: none;
  background-color: #191919;
}
.in_develop a div {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
.in_develop a div:hover {
  color: #c7c7c7;
}

.container_with_fraction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_with_fraction p {
  margin: 0;
}
.container_with_fraction .elem {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.container_with_fraction .fraction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_with_fraction .fraction hr {
  width: 90%;
  margin: 5px;
}
.container_with_fraction .fraction p {
  text-align: center;
  line-height: 19px;
}
.container_with_fraction img {
  max-height: 50px;
}
.container_with_fraction .bracket_2_rotated {
  transform: scale(-1, 1);
}
.container_with_fraction .degree_of_bracket {
  top: -20px;
}
.container_with_fraction .high_module {
  display: block;
  background-color: #fff;
  height: 50px;
  width: 2px;
  margin: 0 2px;
}

.yellow {
  color: #d1ae59;
}

.approximation_line {
  text-decoration: overline;
}

header {
  position: fixed;
  z-index: 999;
  background-color: #202020;
  width: 100%;
  min-height: 68px;
}
header .logo {
  position: absolute;
  left: 25px;
  margin-top: 18px;
}
header .logo img {
  max-height: 28px;
}
header .logo img:hover {
  max-height: 29px;
}
header ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  padding: 0;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
header ul li {
  margin: 0 10px;
  list-style-type: none;
}
header ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
}
header ul li a:hover {
  font-size: 18px;
  color: #c75c5c;
  text-decoration: none;
}
header button {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  width: 40px;
  padding: 0;
  border: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
header button:hover {
  width: 43px;
}
header button:hover span {
  width: 43px;
  margin: 8px 0;
}
header button span {
  display: block;
  margin: 7px 0;
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

body {
  background-color: #121212;
}

.about {
  min-height: 537px;
  background: #121212;
  padding-top: 150px;
}
.about_info {
  margin: 0 auto;
  max-width: 881px;
  background: #191919;
  border-radius: 55px;
  padding: 26px 35px;
}
.about_info_img {
  display: block;
  max-height: 46px;
  margin: 0 auto;
  margin-bottom: 32px;
  cursor: pointer;
}
.about_info p {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 23px;
  margin-bottom: 10px;
  text-align: center;
}
.about_info p strong {
  font-weight: 700;
}
.about_info p a {
  color: #fff;
  font-style: italic;
}
.about_search {
  margin: 0 auto;
  margin-top: 36px;
  max-width: 881px;
  background: #191919;
  height: 70px;
  border-radius: 35px;
  border: 1px solid #202020;
}
.about .search_img {
  position: relative;
  top: 16px;
  left: 30px;
}
.about .search_img:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
  width: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.about .search_img:after {
  content: "";
  display: block;
  height: 4px;
  width: 15px;
  background-color: #fff;
  transform: rotateZ(45deg) translateX(15px) translateY(-16px);
  border-radius: 2px;
}
.about .search_input {
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #191919;
}

.category {
  min-height: 850px;
  background-color: #121212;
  padding-bottom: 40px;
}
.category_header {
  display: block;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 900;
  line-height: 30px;
  margin: 0;
  text-align: center;
  margin-top: 66px;
}
.category .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.category .wrapper .category_link {
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 20px;
  font-size: 20px;
  line-height: 20px;
  width: 220px;
  height: 220px;
  background-image: url(../img/5.svg);
}
.category .wrapper .category_link:hover {
  background-image: url(../img/5_hover.svg);
}
.category .wrapper .five {
  background-image: url(../img/5.svg);
}
.category .wrapper .five:hover {
  background-image: url(../img/5_hover.svg);
}
.category .wrapper .six {
  background-image: url(../img/6.svg);
}
.category .wrapper .six:hover {
  background-image: url(../img/6_hover.svg);
}
.category .wrapper .seven {
  background-image: url(../img/7.svg);
}
.category .wrapper .seven:hover {
  background-image: url(../img/7_hover.svg);
}
.category .wrapper .eight {
  background-image: url(../img/8.svg);
}
.category .wrapper .eight:hover {
  background-image: url(../img/8_hover.svg);
}
.category .wrapper .nine {
  background-image: url(../img/9.svg);
}
.category .wrapper .nine:hover {
  background-image: url(../img/9_hover.svg);
}
.category .wrapper .ten_eleven {
  background-image: url(../img/10-11.svg);
}
.category .wrapper .ten_eleven:hover {
  background-image: url(../img/10-11_hover.svg);
}
.category_item {
  margin: 20px 20px;
  width: 220px;
  background-color: #191919;
  border-radius: 10px;
  height: 220px;
}
.category h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #c7c7c7;
  margin: 10px 0 20px 0;
}
.category_name {
  color: #c75c5c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin: 45% 0;
}

footer {
  background-color: #191919;
  min-height: 67px;
  padding-top: 23px;
}
footer img {
  display: block;
  max-width: 120px;
  margin: 0 auto;
}

.ol_box ol ul li a {
  color: #c7c7c7;
}

.theme_box {
  height: 66px;
  background-color: #191919;
  border-radius: 32px;
  display: inline-block;
  padding: 10px 35px;
  margin: 30px 0;
}

.theme_text {
  color: #c75c5c;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 0;
}

.box_center {
  height: 53px;
  background-color: #191919;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_center {
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}

.yellow_illustration {
  font-family: Bahnschrift;
  font-size: 35px;
  color: #d1ae59;
  font-weight: 700;
  position: relative;
  left: 35px;
}

.comment {
  font-size: 23px;
  font-family: Handelson-Six;
}

.term {
  margin: 0;
  line-height: 30px;
  position: relative;
  left: 35px;
}

.box {
  border-radius: 10px;
  position: relative;
  left: 35px;
  background-color: #191919;
  padding: 15px 20px 15px 20px;
  margin-top: 30px;
  width: 1075px;
}

.yellow_subheader {
  color: #d1ae59;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin: 10px 0 0 0;
}

.m {
  margin: 0;
  line-height: 19px;
}

.formule {
  font-size: 20px;
  margin: 7px 0;
}

.module {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 2px;
}

.theme_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.theme_btns .theme_btn {
  display: inline-block;
  margin: 30px 20px;
  border-radius: 30px;
  background-color: #c75c5c;
  height: 40px;
  padding: 9px 30px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 700;
}
.theme_btns .theme_btn a {
  color: #fff;
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.first_cont {
  padding-top: 150px;
}
.first_cont h1 {
  font-size: 33px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  line-height: 33px;
}
.first_cont h2 {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: #c7c7c7;
  margin-bottom: 27px;
}
.first_cont ol li {
  margin-bottom: 5px;
}
.first_cont ol li a {
  color: #fff;
  font-weight: 500;
}
.first_cont ol ul {
  list-style-type: square;
  padding-left: 25px;
}
.first_cont ol ul li {
  color: #c7c7c7;
}
.first_cont .ol_box {
  position: relative;
  left: 35px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  background-color: #191919;
  padding: 20px;
  margin-top: 50px;
}

.fifth {
  font-size: 17px;
  background-color: #121212;
}
.fifth .natural_numbers {
  position: relative;
}
.fifth .natural_numbers .arrow {
  transform: rotate(180deg);
  max-width: 120px;
  position: absolute;
  top: 70px;
  left: 630px;
}
.fifth .natural_numbers .nat_first {
  position: absolute;
  left: 760px;
  top: 30px;
}
.fifth .natural_numbers .zero {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fifth .natural_numbers .numbers {
  margin-bottom: 30px;
}
.fifth .natural_numbers .single_digit {
  width: 445px;
  margin: 30px auto 0 auto;
  background-color: #191919;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 21px 0;
  margin-bottom: 30px;
}
.fifth .natural_numbers .single_digit p {
  margin: 0;
}
.fifth .natural_numbers .single_digit .main_digit {
  margin-right: 5px;
  text-align: right;
}
.fifth .natural_numbers .single_digit .main_digit p {
  font-weight: 700;
}
.fifth .natural_numbers .single_digit .main_digit .single {
  position: relative;
  top: -25px;
}
.fifth .natural_numbers .single_digit .main_digit .plenty {
  position: relative;
  bottom: 0px;
}
.fifth .natural_numbers .single_digit .bracket_1 {
  width: 2px;
  height: 19px;
  background-color: #fff;
  position: relative;
  top: -40px;
}
.fifth .natural_numbers .single_digit .bracket_1:before {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
}
.fifth .natural_numbers .single_digit .bracket_1:after {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.fifth .natural_numbers .single_digit .bracket_2 {
  width: 2px;
  height: 70px;
  background-color: #fff;
  position: relative;
  bottom: -12px;
  left: -2px;
}
.fifth .natural_numbers .single_digit .bracket_2:before {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
}
.fifth .natural_numbers .single_digit .bracket_2:after {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.fifth .natural_numbers .single_digit .number_digit {
  margin-left: 5px;
}
.fifth .natural_numbers .rank_numbers {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.fifth .natural_numbers .every_nat {
  margin: 20px auto 15px auto;
  width: 750px;
}
.fifth .natural_numbers .examples {
  margin: 5px auto;
  text-align: center;
}
.fifth .natural_numbers .every_natural {
  margin-bottom: 30px;
}
.fifth .natural_numbers .whole {
  width: 750px;
}
.fifth .comparison_nat .theme_box {
  margin-top: 50px;
}
.fifth .comparison_nat .bigger {
  margin-top: 30px;
}
.fifth .comparison_nat .number_line {
  max-width: 500px;
}
.fifth .comparison_nat .wrapper {
  background-color: #191919;
  border-radius: 10px;
  padding: 20px 0;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fifth .comparison_nat .wrapper .row {
  align-items: center;
}
.fifth .comparison_nat .wrapper .row img {
  position: relative;
  right: -60px;
}
.fifth .actions_with_naturals .division_flex {
  position: relative;
  left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1075px;
}
.fifth .actions_with_naturals .division_flex h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.fifth .actions_with_naturals .division_flex p {
  margin-bottom: 7px;
}
.fifth .actions_with_naturals .division_flex .examples {
  text-align: center;
  color: #d1ae59;
}
.fifth .actions_with_naturals .division_flex .examples u {
  color: #d1ae59;
  text-decoration-color: #c7c7c7;
}
.fifth .actions_with_naturals .division_flex .biggest_division_box {
  max-width: 520px;
  border-radius: 10px;
  background-color: #191919;
  padding: 20px;
}
.fifth .actions_with_naturals .division_flex .lowest_factor_box {
  max-width: 520px;
  border-radius: 10px;
  background-color: #191919;
  padding: 20px;
}
.fifth .actions_with_naturals .actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 35px;
}
.fifth .actions_with_naturals .finish {
  margin-bottom: 70px;
}
.fifth .actions_with_naturals .division_rules_box {
  margin: 30px 0;
}
.fifth .actions_with_naturals .division_rules_box h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}
.fifth .actions_with_naturals .division_rules_box .wrapper {
  display: flex;
  justify-content: space-between;
}
.fifth .actions_with_naturals .division_rules_box .wrapper .lighter_box {
  background-color: #202020;
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px;
  color: #d1ae59;
  font-weight: 700;
}
.fifth .actions_with_naturals .division_rules_box .wrapper .first_column {
  max-width: 450px;
}
.fifth .actions_with_naturals .division_rules_box .wrapper .second_column {
  max-width: 550px;
}
.fifth .actions_with_naturals .action .wrapper {
  background-color: #191919;
  border-radius: 10px;
  min-height: 165px;
  width: 200px;
  padding: 10px 0;
  position: relative;
}
.fifth .actions_with_naturals .action .wrapper .example {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.fifth .actions_with_naturals .action .wrapper .elements {
  padding: 5px 15px;
  position: relative;
  bottom: 0;
}
.fifth .actions_with_naturals .action .wrapper .elements p {
  margin: 0;
  line-height: 22px;
}
.fifth .actions_with_naturals .action .wrapper h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.fifth .actions_with_naturals .exponentiation_more {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto 50px auto;
  width: 800px;
}
.fifth .actions_with_naturals .exponentiation_more .lighter {
  background-color: #202020;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.fifth .actions_with_naturals .exponentiation_more .lighter p {
  margin: 0;
  line-height: 23px;
  font-weight: 700;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules {
  width: 480px;
  padding: 10px 25px 10px 25px;
  height: 342px;
  margin: 0 auto;
  text-align: center;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules h4 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .n_raz {
  position: relative;
  left: -25px;
  top: -10px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .a_in_n .bracket_3 {
  width: 110px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  left: 138px;
  top: -10px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .a_in_n .bracket_3::before {
  content: "";
  display: block;
  height: 7px;
  width: 2px;
  background-color: #fff;
  position: relative;
  top: -7px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .a_in_n .bracket_3::after {
  content: "";
  display: block;
  height: 7px;
  width: 2px;
  background-color: #fff;
  position: relative;
  left: 108px;
  top: -14px;
}
.fifth .actions_with_naturals .exponentiation_more .lighter_box {
  margin-top: 30px;
}
.fifth .actions_with_naturals .exponentiation_more .lighter_box p {
  margin: 5px 0;
}
.fifth .actions_with_naturals .exponentiation .wrapper {
  width: 280px;
}
.fifth .actions_with_naturals .start .wrapper {
  width: 150px;
}
.fifth .actions_with_naturals .addition_rule p {
  color: #c7c7c7;
}
.fifth .actions_with_naturals .addition_rule p b {
  color: #d1ae59;
  display: inline-block;
  font-weight: 300;
}
.fifth .actions_with_naturals .addition_rule .more {
  color: #fff;
  margin: 10px 0 0 0;
  line-height: 19px;
}
.fifth .actions_with_naturals .addition_rule .mb {
  margin-bottom: 20px;
}
.fifth .actions_with_naturals .addition_rule .brackets {
  margin: 0;
}
.fifth .actions_with_naturals .division {
  padding: 20px;
}
.fifth .actions_with_naturals .division .yellow_subheader {
  margin: 0 0 20px 0;
  text-align: center;
}
.fifth .actions_with_naturals .division h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.fifth .actions_with_naturals .division .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fifth .actions_with_naturals .division .wrapper .first_column {
  max-width: 500px;
}
.fifth .actions_with_naturals .division .wrapper .second_column {
  max-width: 500px;
}
.fifth .actions_with_naturals .division_rules {
  margin: 10px 0;
}
.fifth .actions_with_naturals .division_rest_rules {
  margin: 0 auto;
  max-width: 800px;
}
.fifth .actions_with_naturals .division_with_rest {
  padding: 20px 20px 20px 20px;
}
.fifth .actions_with_naturals .division_with_rest h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.fifth .actions_with_naturals .division_with_rest .yellow_subheader {
  margin-bottom: 20px;
  text-align: center;
}
.fifth .actions_order {
  margin-bottom: 50px;
}
.fifth .actions_order_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.fifth .actions_order_container ol {
  max-width: 700px;
  margin: 0;
}
.fifth .actions_order_container .actions_order_definition {
  max-width: 700px;
}
.fifth .actions_order_container ul {
  max-width: 700px;
  margin: 0;
}
.fifth .tasks_on_parts .task_1 {
  position: relative;
  left: 35px;
}
.fifth .tasks_on_parts .yellow_subheader {
  margin: 30px 0 20px 0;
}
.fifth .tasks_on_parts .task_2 {
  position: relative;
  left: 35px;
}
.fifth .tasks_on_parts .task_2 .parts_img {
  max-width: 500px;
  margin: 30px 0 50px 0;
}
.fifth .tasks_on_parts .task_2 .episodes p {
  margin: 0;
}
.fifth .tasks_on_parts .task_2 .episodes .answer {
  margin: 20px 0 0 0;
}
.fifth .summ_tasks .yellow_subheader {
  margin-top: 30px;
  margin-bottom: 20px;
}
.fifth .summ_tasks .task_3 {
  position: relative;
  left: 35px;
}
.fifth .summ_tasks .episodes p {
  margin: 0;
}
.fifth .summ_tasks .episodes .answer {
  margin: 20px 0 0 0;
}
.fifth .summ_tasks_img {
  max-width: 500px;
  margin: 30px 0 50px 0;
}
.fifth .solution {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

.ten-eleven {
  font-size: 17px;
  font-weight: 500;
}
.ten-eleven .numbers_box {
  width: 1075px;
  position: relative;
  background-color: #191919;
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px;
  left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.ten-eleven .numbers_box .number_box {
  width: 300px;
  background-color: #202020;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 10px;
  height: 200px;
}
.ten-eleven .numbers_box .number_box img {
  max-height: 18px;
  margin: 0 auto;
  display: block;
}
.ten-eleven .numbers_box .number_box p {
  text-align: center;
}
.ten-eleven .numbers_box .number_box strong {
  color: #d1ae59;
}
.ten-eleven .numbers_box .number_box .number_item {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.ten-eleven .numbers_box .number_box .rational_number span {
  width: 11px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}
.ten-eleven .numbers_box .number_box .rational_number p {
  margin: 0;
}
.ten-eleven .numbers_box .number_box .rational_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ten-eleven .numbers_box .number_box .rational_flex p {
  margin: 0 5px;
}
.ten-eleven .actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 35px;
  margin-top: 30px;
}
.ten-eleven .actions .action .wrapper {
  background-color: #191919;
  border-radius: 10px;
  min-height: 165px;
  width: 200px;
  padding: 10px 0;
  position: relative;
}
.ten-eleven .actions .action .wrapper .example {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.ten-eleven .actions .action .wrapper .elements {
  padding: 5px 15px;
  position: relative;
  bottom: 0;
}
.ten-eleven .actions .action .wrapper .elements p {
  margin: 0;
  line-height: 22px;
}
.ten-eleven .actions .action .wrapper h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.ten-eleven .actions .start .wrapper {
  width: 150px;
}
.ten-eleven .actions .exponentiation .wrapper {
  width: 280px;
}
.ten-eleven .actions_rules .box {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
}
.ten-eleven .actions_rules .box h3 {
  text-align: center;
}
.ten-eleven .actions_rules .box .lighter_box {
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 450px;
}
.ten-eleven .actions_rules .box .lighter_box p {
  text-align: center;
  line-height: 30px;
}
.ten-eleven .actions_rules .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #d1ae59;
  display: block;
  max-width: 250px;
  margin: 0 auto 8px auto;
}
.ten-eleven .actions_rules .box .features_wider {
  max-width: 100%;
}
.ten-eleven .actions_rules .box .yellow {
  color: #d1ae59;
}
.ten-eleven .roots .box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
.ten-eleven .roots .box .lighter_box {
  margin: 10px;
  position: relative;
  background-color: #202020;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}
.ten-eleven .roots .box .lighter_box .root {
  height: 34px;
  display: block;
  margin: 0 auto 1rem auto;
}
.ten-eleven .roots .box .lighter_box .degree {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
}
.ten-eleven .roots .box .lighter_box h4 {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #d1ae59;
}
.ten-eleven .roots .box .lighter_box p {
  text-align: center;
}
.ten-eleven .roots .box .lighter_box .tie {
  width: 115px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  right: 25px;
  top: 30px;
}
.ten-eleven .roots .box .lighter_box .tie:before {
  content: "";
  display: block;
  top: -7px;
  position: absolute;
  height: 7px;
  width: 2px;
  background-color: #fff;
}
.ten-eleven .roots .box .lighter_box .tie:after {
  content: "";
  display: block;
  top: -7px;
  right: 0;
  position: absolute;
  height: 7px;
  width: 2px;
  background-color: #fff;
}
.ten-eleven .roots .box .lighter_box .formule_roots {
  margin: 0 0 10px 0;
}
.ten-eleven .roots .box .lighter_box .absolute {
  position: relative;
  right: -15px;
}
.ten-eleven .approximation p {
  line-height: 22px;
  margin: 1rem 0;
}
.ten-eleven .approximation .container_with_fraction {
  justify-content: flex-start;
}
.ten-eleven .approximation .container_with_fraction p {
  line-height: 17px;
  margin: 0;
}
.ten-eleven .plenties .left .definition {
  position: relative;
  left: 35px;
  color: #c7c7c7;
}

.container .left {
  position: relative;
  left: 35px;
}

.proportions .procent .progr_box_center {
  border-radius: 10px;
  background-color: #191919;
  width: 1075px;
  padding: 10px;
  margin: 20px 0;
}
.proportions .procent .progr_box_center .progr_text_center {
  text-align: center;
  margin: 10px 0;
}
.proportions .procent .proportion {
  margin-top: 50px;
}
.proportions .procent img {
  max-height: 100px;
}
.proportions .procent .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.proportions .procent .box .flex_elem {
  margin: 10px 20px;
}

.units .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  left: 35px;
  width: 1075px;
}
.units .flexbox .unit_item {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  background-color: #191919;
  padding: 25px;
  min-height: 290px;
}
.units .flexbox .unit_item h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
  color: #d1ae59;
}

.progressions .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.progressions .box .progression_column {
  border-radius: 10px;
  background-color: #202020;
  padding: 20px;
  max-width: 500px;
}
.progressions .box .progression_column h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #d1ae59;
  font-size: 20px;
}
.progressions .box .progression_column .progression_formules {
  margin: 0 auto;
  display: inline;
}
.progressions .box .progression_column .progression_formules p {
  color: #d1ae59;
  text-align: center;
}
.progressions .box .progression_column .progression_formules p sub {
  color: #d1ae59;
}
.progressions .box .progression_column .progression_formules p sup {
  color: #d1ae59;
}
.progressions .box .progression_column .progression_formules .progression_formule {
  text-align: left;
  margin-top: 30px;
  font-weight: 700;
  color: #fff;
}
.progressions .box .progression_column .container_with_fraction p, .progressions .box .progression_column .container_with_fraction sub, .progressions .box .progression_column .container_with_fraction sup {
  color: #d1ae59;
}
.progressions .box .progression_column .container_with_fraction hr {
  border-color: #d1ae59;
}
.progressions .box .progression_column .progression_property .property_header {
  text-align: left;
  margin-top: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}
.progressions .box .progression_column .progression_property .property_text {
  color: #fff;
  text-align: left;
}
.progressions .box .progression_column .progression_property p {
  text-align: center;
  color: #d1ae59;
}
.progressions .box .progression_column .progression_property p sub {
  color: #d1ae59;
}
.progressions .box .progression_column .progression_property p sup {
  color: #d1ae59;
}
.progressions .infinite_geometric_progression_box .box-2 {
  display: block;
  padding: 30px;
}
.progressions .infinite_geometric_progression_box .box-2 .container_with_fraction p {
  color: #d1ae59;
}
.progressions .infinite_geometric_progression_box .box-2 .container_with_fraction p sub {
  color: #d1ae59;
}
.progressions .infinite_geometric_progression_box .box-2 .container_with_fraction p sup {
  color: #d1ae59;
}
.progressions .infinite_geometric_progression_box .box-2 .container_with_fraction hr {
  border-color: #d1ae59;
}
.progressions .infinite_geometric_progression_box .box-2 .center {
  text-align: center;
}

.equals .grade_1 .first_grade {
  display: flex;
  justify-content: space-between;
}
.equals .grade_1 .first_grade .lighter_box {
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
  background-color: #202020;
}
.equals .grade_1 .first_grade .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.equals .grade_1 .first_grade .example p {
  margin: 0;
}
.equals .grade_1 .properties {
  padding: 10px;
}
.equals .grade_1 .properties .lighter_box {
  padding: 20px;
  border-radius: 10px;
  background-color: #202020;
  margin: 20px;
}
.equals .grade_1 .properties h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
.equals .systems_first_grade .systems h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}
.equals .systems_first_grade .systems .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.equals .systems_first_grade .systems .flex_box .lighter_box {
  border-radius: 10px;
  background-color: #202020;
  width: 470px;
  padding: 20px;
  margin: 20px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-1 {
  max-height: 242px;
  margin: 10px 0;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-2 {
  max-height: 246px;
  margin: 10px 0;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys_3 {
  margin: 10px 0;
  width: 412px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-4 {
  margin: 10px 0;
  width: 407px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-5 {
  margin: 10px 0;
  width: 241px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-6 {
  margin: 10px auto;
  display: block;
  height: 300px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-6-1 {
  height: 130px;
  margin: 10px 0;
}
.equals .square_equal .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #d1ae59;
  font-weight: 500;
}
.equals .square_equal .box .flex_box {
  display: flex;
  justify-content: center;
}
.equals .square_equal .box .flex_box .lighter_box {
  background-color: #202020;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.equals .square_equal .box .flex_box .lighter_box h4 {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  text-transform: lowercase;
  color: #d1ae59;
}
.equals .square_equal .box .flex_box .lighter_box h4 sup {
  color: #d1ae59;
}
.equals .square_equal .box .flex_box .lighter_box p {
  margin: 5px 0;
  text-align: center;
}
.equals .square_equal .box .flex_box .lighter_box .roots {
  max-width: 76px;
  margin: 0 auto;
  display: block;
}
.equals .square_equal .full_square p {
  text-align: center;
}
.equals .square_equal .full_square .discr {
  width: 204px;
}
.equals .square_equal .full_square .flex_box {
  align-items: flex-start;
}
.equals .square_equal .full_square .flex_box .lighter_box {
  border-radius: 10px;
  background-color: #202020;
  padding: 20px;
  min-height: 320px;
  justify-content: flex-start;
}
.equals .square_equal .full_square .flex_box .lighter_box img {
  margin-top: 10px;
}
.equals .square_equal .full_square .flex_box .lighter_box .discr_duo {
  width: 222px;
}
.equals .square_equal .full_square .flex_box .lighter_box .container_with_fraction .elem .fraction p {
  margin: 0;
}
.equals .beesquare_equals .box h4 {
  text-align: center;
  font-weight: 500;
  color: #d1ae59;
  font-size: 20px;
}
.equals .beesquare_equals .box h4 sup {
  color: #d1ae59;
}
.equals .beesquare_equals .box p {
  text-align: center;
  margin-bottom: 0;
}
.equals .beesquare_equals .box .flex_box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.equals .beesquare_equals .box .flex_box .lighter_box {
  border-radius: 10px;
  background-color: #202020;
  padding: 20px;
  width: 47%;
}
.equals .beesquare_equals .box .flex_box .lighter_box p {
  margin-bottom: 1rem;
}
.equals .beesquare_equals .box .flex_box .lighter_box .example {
  text-align: center;
  font-weight: 700;
}
.equals .beesquare_equals .box .flex_box .lighter_box .beesquare_root-1 {
  width: 56.5px;
  display: block;
  margin: 0 auto;
}
.equals .beesquare_equals .box .flex_box .lighter_box .beesquare_root-2 {
  width: 67.75px;
  display: block;
  margin: 12px auto 12px auto;
}
.equals .rational_equals .box .container_with_fraction {
  margin: 10px;
}
.equals .rational_equals .box .container_with_fraction p {
  color: #d1ae59;
}
.equals .rational_equals .box .container_with_fraction p sub, .equals .rational_equals .box .container_with_fraction p sup {
  color: #d1ae59;
}
.equals .rational_equals .box .container_with_fraction hr {
  border-color: #d1ae59;
}
.equals .rational_equals .to p {
  margin: 0;
}
.equals .irrational .box {
  padding: 20px;
}
.equals .irrational .box img {
  width: 306px;
  display: block;
  margin: 0 auto;
}
.equals .irrational .box p {
  margin-bottom: 20px;
}
.equals .irrational .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #d1ae59;
  font-size: 20px;
}

.ineq .ineq_properties .box {
  border-radius: 30px;
}
.ineq .ineq_kinds .box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
.ineq .ineq_kinds .box .lighter_box {
  border-radius: 10px;
  background-color: #202020;
  padding: 20px;
  width: 495px;
  margin: 10px;
}
.ineq .ineq_kinds .box .lighter_box .ineq-2 {
  width: 388px;
}
.ineq .ineq_kinds .box .lighter_box .ineq-3 {
  width: 418px;
  margin-bottom: 10px;
}
.ineq .ineq_kinds .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  color: #d1ae59;
  margin-bottom: 20px;
}
.ineq .ineq_kinds .box .lighter_box .example {
  text-align: center;
}
.ineq .ineq_kinds .box .lighter_box .sample .ineq-1 {
  width: 170px;
  margin-bottom: 10px;
}
.ineq .ineq_kinds .box .lighter_box .sample p {
  margin: 5px;
}
.ineq .interval_method .box {
  display: flex;
}
.ineq .interval_method .box .lighter_box {
  background-color: #202020;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.ineq .interval_method .box .lighter_box .ineq-4 {
  width: 468px;
  margin-bottom: 10px;
}
.ineq .interval_method .box .lighter_box .ineq-5 {
  width: 456px;
  margin-bottom: 10px;
}
.ineq .interval_method .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #d1ae59;
  margin-bottom: 20px;
}
.ineq .change_unnown .box {
  width: 45%;
}
.ineq .change_unnown .box .ineq-6 {
  width: 425px;
  margin-bottom: 10px;
}
.ineq .systems .box {
  width: 45%;
}
.ineq .systems .box .ineq-7 {
  width: 400px;
}

section {
  margin-bottom: 50px;
}

.left {
  position: relative;
  left: 35px;
}

.bottom_nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_nav a {
  padding: 20px;
  border-radius: 20px;
  height: 30px;
  margin: 0 20px;
  background-color: #d1ae59;
}
.bottom_nav a div {
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  font-weight: 700;
  transform: translateY(-50%);
  position: relative;
  color: #121212;
}/*# sourceMappingURL=style.css.map */