* {
  font-family: "Inter";
  color: #fff;
}

* {
  transition-duration: 0.5s;
}

sub {
  font-weight: 500;
}

.in_develop h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  margin-top: 100px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.in_develop a {
  border-radius: 50px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  width: 400px;
}
.in_develop a:hover {
  text-decoration: none;
}
.in_develop a div {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.flex p {
  margin: 10px 0;
}

.container_with_fraction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_with_fraction p {
  margin: 0;
}
.container_with_fraction .elem {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.container_with_fraction .fraction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_with_fraction .fraction hr {
  width: 90%;
  margin: 5px;
}
.container_with_fraction .fraction p {
  text-align: center;
  line-height: 19px;
}
.container_with_fraction img {
  max-height: 50px;
}
.container_with_fraction .bracket_2_rotated {
  transform: scale(-1, 1);
}
.container_with_fraction .degree_of_bracket {
  top: -20px;
}
.container_with_fraction .high_module {
  display: block;
  height: 50px;
  width: 2px;
  margin: 0 2px;
}

.approximation_line {
  text-decoration: overline;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  min-height: 68px;
}
header .logo {
  position: absolute;
  margin-left: 25px;
  margin-top: 18px;
  height: 28px;
}
header .logo:hover {
  margin-left: 23px;
}
header .logo img {
  height: 28px;
}
header .logo img:hover {
  height: 29px;
}
header ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  padding: 0;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
header ul li {
  margin: 0 10px;
  list-style-type: none;
}
header ul li a {
  text-transform: uppercase;
  font-size: 17px;
}
header ul li a:hover {
  font-size: 18px;
  text-decoration: none;
}
header button {
  outline: none;
  width: 40px;
  padding: 0;
  border: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
header button:hover {
  width: 43px;
}
header button:hover span {
  width: 43px;
  margin: 8px 0;
}
header button span {
  display: block;
  margin: 7px 0;
  width: 40px;
  height: 3px;
  border-radius: 3px;
}

.about {
  min-height: 537px;
  padding-top: 150px;
}
.about_info {
  margin: 0 auto;
  max-width: 881px;
  border-radius: 55px;
  padding: 26px 35px;
}
.about_info_img {
  display: block;
  max-height: 46px;
  margin: 0 auto;
  margin-bottom: 32px;
  cursor: pointer;
}
.about_info p {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 23px;
  margin-bottom: 10px;
  text-align: center;
}
.about_info p strong {
  font-weight: 700;
}
.about_info p a {
  font-style: italic;
}
.about_search {
  margin: 0 auto;
  margin-top: 36px;
  max-width: 881px;
  height: 70px;
  border-radius: 35px;
}
.about .search_img {
  position: relative;
  top: 16px;
  left: 30px;
}
.about .search_img:before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.about .search_img:after {
  content: "";
  display: block;
  height: 4px;
  width: 15px;
  transform: rotateZ(45deg) translateX(15px) translateY(-16px);
  border-radius: 2px;
}
.about .search_input {
  display: none;
}

.divider {
  width: 100%;
  height: 5px;
}

.category {
  min-height: 850px;
  padding-bottom: 40px;
}
.category_header {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 900;
  line-height: 30px;
  margin: 0;
  text-align: center;
  margin-top: 66px;
}
.category .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.category .wrapper .category_link {
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 20px;
  font-size: 20px;
  line-height: 20px;
  width: 220px;
  height: 220px;
}
.category_item {
  margin: 20px 20px;
  width: 220px;
  border-radius: 10px;
  height: 220px;
}
.category h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
.category_name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin: 45% 0;
}

footer {
  min-height: 67px;
  padding-top: 23px;
}
footer img {
  display: block;
  max-width: 120px;
  margin: 0 auto;
}

.ol_box ol li a {
  font-size: 17px;
}
.ol_box ol ul {
  margin-bottom: 10px;
  margin-left: 10px;
}
.ol_box ol ul li a {
  font-size: 17px;
}

.h4-med {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0;
}

.vec {
  height: 15px;
  width: 9px;
  display: inline;
  position: relative;
  bottom: 3px;
}

.theme_box {
  height: 66px;
  border-radius: 32px;
  display: inline-block;
  padding: 10px 35px;
  margin: 30px 0;
}

.cont_with_el {
  position: relative;
  left: 35px;
  max-width: 1075px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  flex-wrap: wrap;
}
.cont_with_el .el {
  margin: 0 auto;
  background-color: #191919;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cont_with_el .el p {
  color: #c7c7c7;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.cont_with_el .el img {
  height: 120px;
  margin-top: 20px;
}
.cont_with_el .el h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 0;
}

.axiom {
  padding: 15px 20px;
  border-radius: 40px;
  border: 2px dashed;
  font-size: 17px;
  text-align: center;
}

.flex_cont {
  display: flex;
  justify-content: center;
  position: relative;
  left: 35px;
  flex-wrap: wrap;
}

.theorem {
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px dashed;
  font-size: 17px;
  text-align: center;
}

.theme_text {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 0;
}

.box_center {
  height: 53px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_center {
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}

.yellow_illustration {
  font-family: Bahnschrift;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  left: 35px;
}

.comment {
  font-size: 23px;
  font-family: Handelson-Six;
}

.term {
  margin: 0;
  line-height: 30px;
  position: relative;
  left: 35px;
}

.box {
  border-radius: 10px;
  position: relative;
  left: 35px;
  padding: 15px 20px 15px 20px;
  margin-top: 30px;
  width: 1075px;
}

.yellow_subheader {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin: 10px 0 0 0;
}

.m {
  margin: 0;
  line-height: 19px;
}

.formule {
  font-size: 20px;
  margin: 7px 0;
}

.module {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 2px;
}

.theme_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.theme_btns .theme_btn {
  display: inline-block;
  margin: 30px 20px;
  border-radius: 30px;
  height: 40px;
  padding: 9px 30px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 700;
}
.theme_btns .theme_btn a {
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.first_cont {
  padding-top: 150px;
}
.first_cont h1 {
  font-size: 33px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  line-height: 33px;
}
.first_cont h2 {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.first_cont ol li {
  margin-bottom: 5px;
}
.first_cont ol li a {
  font-weight: 500;
}
.first_cont ol ul {
  list-style-type: square;
  padding-left: 25px;
}
.first_cont .ol_box {
  position: relative;
  left: 35px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  padding: 70px;
  margin-top: 50px;
}
.first_cont .ol_box ol li {
  font-weight: 700;
}
.first_cont .ol_box ol li a {
  font-weight: 700;
}
.first_cont .ol_box ol ul li a {
  font-weight: 500;
}

.fifth {
  font-size: 17px;
}
.fifth .natural_numbers {
  position: relative;
}
.fifth .natural_numbers .arrow {
  transform: rotate(180deg);
  max-width: 120px;
  position: absolute;
  top: 70px;
  left: 630px;
}
.fifth .natural_numbers .nat_first {
  position: absolute;
  left: 760px;
  top: 30px;
}
.fifth .natural_numbers .zero {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.fifth .natural_numbers .numbers {
  margin-bottom: 30px;
}
.fifth .natural_numbers .single_digit {
  width: 445px;
  margin: 30px auto 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 21px 0;
  margin-bottom: 30px;
}
.fifth .natural_numbers .single_digit p {
  margin: 0;
}
.fifth .natural_numbers .single_digit .main_digit {
  margin-right: 5px;
  text-align: right;
}
.fifth .natural_numbers .single_digit .main_digit p {
  font-weight: 700;
}
.fifth .natural_numbers .single_digit .main_digit .single {
  position: relative;
  top: -25px;
}
.fifth .natural_numbers .single_digit .main_digit .plenty {
  position: relative;
  bottom: 0px;
}
.fifth .natural_numbers .single_digit .bracket_1 {
  width: 2px;
  height: 19px;
  position: relative;
  top: -40px;
}
.fifth .natural_numbers .single_digit .bracket_1:before {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  top: 0;
}
.fifth .natural_numbers .single_digit .bracket_1:after {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  bottom: 0;
}
.fifth .natural_numbers .single_digit .bracket_2 {
  width: 2px;
  height: 70px;
  position: relative;
  bottom: -12px;
  left: -2px;
}
.fifth .natural_numbers .single_digit .bracket_2:before {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  top: 0;
}
.fifth .natural_numbers .single_digit .bracket_2:after {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  bottom: 0;
}
.fifth .natural_numbers .single_digit .number_digit {
  margin-left: 5px;
}
.fifth .natural_numbers .rank_numbers {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.fifth .natural_numbers .every_nat {
  margin: 20px auto 15px auto;
  width: 750px;
}
.fifth .natural_numbers .examples {
  margin: 5px auto;
  text-align: center;
}
.fifth .natural_numbers .every_natural {
  margin-bottom: 30px;
}
.fifth .natural_numbers .whole {
  width: 750px;
}
.fifth .comparison_nat .theme_box {
  margin-top: 50px;
}
.fifth .comparison_nat .bigger {
  margin-top: 30px;
}
.fifth .comparison_nat .number_line {
  max-width: 500px;
}
.fifth .comparison_nat .wrapper {
  border-radius: 10px;
  padding: 20px 0;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fifth .comparison_nat .wrapper .row {
  align-items: center;
}
.fifth .comparison_nat .wrapper .row img {
  position: relative;
  right: -60px;
}
.fifth .actions_with_naturals .division_flex {
  position: relative;
  left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1075px;
}
.fifth .actions_with_naturals .division_flex h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.fifth .actions_with_naturals .division_flex p {
  margin-bottom: 7px;
}
.fifth .actions_with_naturals .division_flex .examples {
  text-align: center;
}
.fifth .actions_with_naturals .division_flex .biggest_division_box {
  max-width: 520px;
  border-radius: 10px;
  padding: 20px;
}
.fifth .actions_with_naturals .division_flex .lowest_factor_box {
  max-width: 520px;
  border-radius: 10px;
  padding: 20px;
}
.fifth .actions_with_naturals .actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 35px;
}
.fifth .actions_with_naturals .finish {
  margin-bottom: 70px;
}
.fifth .actions_with_naturals .division_rules_box {
  margin: 30px 0;
}
.fifth .actions_with_naturals .division_rules_box h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}
.fifth .actions_with_naturals .division_rules_box .wrapper {
  display: flex;
  justify-content: space-between;
}
.fifth .actions_with_naturals .division_rules_box .wrapper .lighter_box {
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px;
  font-weight: 700;
}
.fifth .actions_with_naturals .division_rules_box .wrapper .first_column {
  max-width: 450px;
}
.fifth .actions_with_naturals .division_rules_box .wrapper .second_column {
  max-width: 550px;
}
.fifth .actions_with_naturals .action .wrapper {
  border-radius: 10px;
  min-height: 165px;
  width: 200px;
  padding: 10px 0;
  position: relative;
}
.fifth .actions_with_naturals .action .wrapper .example {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.fifth .actions_with_naturals .action .wrapper .elements {
  padding: 5px 15px;
  position: relative;
  bottom: 0;
}
.fifth .actions_with_naturals .action .wrapper .elements p {
  margin: 0;
  line-height: 22px;
}
.fifth .actions_with_naturals .action .wrapper h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.fifth .actions_with_naturals .exponentiation_more {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto 50px auto;
  width: 800px;
}
.fifth .actions_with_naturals .exponentiation_more .lighter {
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.fifth .actions_with_naturals .exponentiation_more .lighter p {
  margin: 0;
  line-height: 23px;
  font-weight: 700;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules {
  width: 480px;
  padding: 10px 25px 10px 25px;
  height: 342px;
  margin: 0 auto;
  text-align: center;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules h4 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 20px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .n_raz {
  position: relative;
  left: -25px;
  top: -10px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .a_in_n .bracket_3 {
  width: 110px;
  height: 2px;
  display: block;
  position: relative;
  left: 138px;
  top: -10px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .a_in_n .bracket_3::before {
  content: "";
  display: block;
  height: 7px;
  width: 2px;
  position: relative;
  top: -7px;
}
.fifth .actions_with_naturals .exponentiation_more .exp_rules .a_in_n .bracket_3::after {
  content: "";
  display: block;
  height: 7px;
  width: 2px;
  position: relative;
  left: 108px;
  top: -14px;
}
.fifth .actions_with_naturals .exponentiation_more .lighter_box {
  margin-top: 30px;
}
.fifth .actions_with_naturals .exponentiation_more .lighter_box p {
  margin: 5px 0;
}
.fifth .actions_with_naturals .exponentiation .wrapper {
  width: 280px;
}
.fifth .actions_with_naturals .start .wrapper {
  width: 150px;
}
.fifth .actions_with_naturals .addition_rule p b {
  display: inline-block;
  font-weight: 300;
}
.fifth .actions_with_naturals .addition_rule .more {
  margin: 10px 0 0 0;
  line-height: 19px;
}
.fifth .actions_with_naturals .addition_rule .mb {
  margin-bottom: 20px;
}
.fifth .actions_with_naturals .addition_rule .brackets {
  margin: 0;
}
.fifth .actions_with_naturals .division {
  padding: 20px;
}
.fifth .actions_with_naturals .division .yellow_subheader {
  margin: 0 0 20px 0;
  text-align: center;
}
.fifth .actions_with_naturals .division h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.fifth .actions_with_naturals .division .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fifth .actions_with_naturals .division .wrapper .first_column {
  max-width: 500px;
}
.fifth .actions_with_naturals .division .wrapper .second_column {
  max-width: 500px;
}
.fifth .actions_with_naturals .division_rules {
  margin: 10px 0;
}
.fifth .actions_with_naturals .division_rest_rules {
  margin: 0 auto;
  max-width: 800px;
}
.fifth .actions_with_naturals .division_with_rest {
  padding: 20px 20px 20px 20px;
}
.fifth .actions_with_naturals .division_with_rest h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.fifth .actions_with_naturals .division_with_rest .yellow_subheader {
  margin-bottom: 20px;
  text-align: center;
}
.fifth .actions_order {
  margin-bottom: 50px;
}
.fifth .actions_order_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.fifth .actions_order_container ol {
  max-width: 700px;
  margin: 0;
}
.fifth .actions_order_container .actions_order_definition {
  max-width: 700px;
}
.fifth .actions_order_container ul {
  max-width: 700px;
  margin: 0;
}
.fifth .tasks_on_parts .task_1 {
  position: relative;
  left: 35px;
}
.fifth .tasks_on_parts .yellow_subheader {
  margin: 30px 0 20px 0;
}
.fifth .tasks_on_parts .task_2 {
  position: relative;
  left: 35px;
}
.fifth .tasks_on_parts .task_2 .parts_img {
  max-width: 500px;
  margin: 30px 0 50px 0;
}
.fifth .tasks_on_parts .task_2 .episodes p {
  margin: 0;
}
.fifth .tasks_on_parts .task_2 .episodes .answer {
  margin: 20px 0 0 0;
}
.fifth .summ_tasks .yellow_subheader {
  margin-top: 30px;
  margin-bottom: 20px;
}
.fifth .summ_tasks .task_3 {
  position: relative;
  left: 35px;
}
.fifth .summ_tasks .episodes p {
  margin: 0;
}
.fifth .summ_tasks .episodes .answer {
  margin: 20px 0 0 0;
}
.fifth .summ_tasks_img {
  max-width: 500px;
  margin: 30px 0 50px 0;
}
.fifth .solution {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

.ten-eleven {
  font-size: 17px;
  font-weight: 500;
}
.ten-eleven .numbers_box {
  width: 1075px;
  position: relative;
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px;
  left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.ten-eleven .numbers_box .number_box {
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 10px;
  height: 200px;
}
.ten-eleven .numbers_box .number_box img {
  max-height: 18px;
  margin: 0 auto;
  display: block;
}
.ten-eleven .numbers_box .number_box p {
  text-align: center;
}
.ten-eleven .numbers_box .number_box .number_item {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.ten-eleven .numbers_box .number_box .rational_number span {
  width: 11px;
  height: 2px;
  display: block;
  margin: 0 auto;
}
.ten-eleven .numbers_box .number_box .rational_number p {
  margin: 0;
}
.ten-eleven .numbers_box .number_box .rational_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ten-eleven .numbers_box .number_box .rational_flex p {
  margin: 0 5px;
}
.ten-eleven .actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 35px;
  margin-top: 30px;
}
.ten-eleven .actions .action .wrapper {
  border-radius: 10px;
  min-height: 165px;
  width: 200px;
  padding: 10px 0;
  position: relative;
}
.ten-eleven .actions .action .wrapper .example {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.ten-eleven .actions .action .wrapper .elements {
  padding: 5px 15px;
  position: relative;
  bottom: 0;
}
.ten-eleven .actions .action .wrapper .elements p {
  margin: 0;
  line-height: 22px;
}
.ten-eleven .actions .action .wrapper h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.ten-eleven .actions .start .wrapper {
  width: 150px;
}
.ten-eleven .actions .exponentiation .wrapper {
  width: 280px;
}
.ten-eleven .actions_rules .box {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
}
.ten-eleven .actions_rules .box h3 {
  text-align: center;
}
.ten-eleven .actions_rules .box .lighter_box {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 450px;
}
.ten-eleven .actions_rules .box .lighter_box p {
  text-align: center;
  line-height: 30px;
}
.ten-eleven .actions_rules .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  max-width: 250px;
  margin: 0 auto 8px auto;
}
.ten-eleven .actions_rules .box .features_wider {
  max-width: 100%;
}
.ten-eleven .roots .box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}
.ten-eleven .roots .box .lighter_box {
  margin: 10px;
  position: relative;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}
.ten-eleven .roots .box .lighter_box .root {
  height: 34px;
  display: block;
  margin: 0 auto 1rem auto;
}
.ten-eleven .roots .box .lighter_box .degree {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
}
.ten-eleven .roots .box .lighter_box h4 {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.ten-eleven .roots .box .lighter_box p {
  text-align: center;
}
.ten-eleven .roots .box .lighter_box .tie {
  width: 115px;
  height: 2px;
  display: block;
  position: absolute;
  right: 25px;
  top: 30px;
}
.ten-eleven .roots .box .lighter_box .tie:before {
  content: "";
  display: block;
  top: -7px;
  position: absolute;
  height: 7px;
  width: 2px;
}
.ten-eleven .roots .box .lighter_box .tie:after {
  content: "";
  display: block;
  top: -7px;
  right: 0;
  position: absolute;
  height: 7px;
  width: 2px;
}
.ten-eleven .roots .box .lighter_box .formule_roots {
  margin: 0 0 10px 0;
}
.ten-eleven .roots .box .lighter_box .absolute {
  position: relative;
  right: -15px;
}
.ten-eleven .approximation p {
  line-height: 22px;
  margin: 1rem 0;
}
.ten-eleven .approximation .container_with_fraction {
  justify-content: flex-start;
}
.ten-eleven .approximation .container_with_fraction p {
  line-height: 17px;
  margin: 0;
}
.ten-eleven .plenties .left .definition {
  position: relative;
  left: 35px;
}

.container .left {
  position: relative;
  left: 35px;
}

.proportions .procent .progr_box_center {
  border-radius: 10px;
  width: 1075px;
  padding: 10px;
  margin: 20px 0;
}
.proportions .procent .progr_box_center .progr_text_center {
  text-align: center;
  margin: 10px 0;
}
.proportions .procent .proportion {
  margin-top: 50px;
}
.proportions .procent img {
  max-height: 100px;
}
.proportions .procent .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.proportions .procent .box .flex_elem {
  margin: 10px 20px;
}

.units .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  left: 35px;
  width: 1075px;
}
.units .flexbox .unit_item {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  padding: 25px;
  min-height: 290px;
}
.units .flexbox .unit_item h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 10px;
}

.progressions .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.progressions .box .progression_column {
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
}
.progressions .box .progression_column h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.progressions .box .progression_column .progression_formules {
  margin: 0 auto;
  display: inline;
}
.progressions .box .progression_column .progression_formules p {
  text-align: center;
}
.progressions .box .progression_column .progression_formules .progression_formule {
  text-align: left;
  margin-top: 30px;
  font-weight: 700;
}
.progressions .box .progression_column .progression_property .property_header {
  text-align: left;
  margin-top: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
.progressions .box .progression_column .progression_property .property_text {
  text-align: left;
}
.progressions .box .progression_column .progression_property p {
  text-align: center;
}
.progressions .infinite_geometric_progression_box .box-2 {
  display: block;
  padding: 30px;
}
.progressions .infinite_geometric_progression_box .box-2 .center {
  text-align: center;
}

.equals .grade_1 .first_grade {
  display: flex;
  justify-content: space-between;
}
.equals .grade_1 .first_grade .lighter_box {
  padding: 20px;
  max-width: 500px;
  border-radius: 10px;
}
.equals .grade_1 .first_grade .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.equals .grade_1 .first_grade .example p {
  margin: 0;
}
.equals .grade_1 .properties {
  padding: 10px;
}
.equals .grade_1 .properties .lighter_box {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.equals .grade_1 .properties h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0 0;
}
.equals .systems_first_grade .systems h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}
.equals .systems_first_grade .systems .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.equals .systems_first_grade .systems .flex_box .lighter_box {
  border-radius: 10px;
  width: 470px;
  padding: 20px;
  margin: 20px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-1 {
  max-height: 242px;
  margin: 10px 0;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-2 {
  max-height: 246px;
  margin: 10px 0;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys_3 {
  margin: 10px 0;
  width: 412px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-4 {
  margin: 10px 0;
  width: 407px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-5 {
  margin: 10px 0;
  width: 241px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-6 {
  margin: 10px auto;
  display: block;
  height: 300px;
}
.equals .systems_first_grade .systems .flex_box .lighter_box .sys-6-1 {
  height: 130px;
  margin: 10px 0;
}
.equals .square_equal .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.equals .square_equal .box .flex_box {
  display: flex;
  justify-content: center;
}
.equals .square_equal .box .flex_box .lighter_box {
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.equals .square_equal .box .flex_box .lighter_box h4 {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  text-transform: lowercase;
}
.equals .square_equal .box .flex_box .lighter_box p {
  margin: 5px 0;
  text-align: center;
}
.equals .square_equal .box .flex_box .lighter_box .roots {
  max-width: 76px;
  margin: 0 auto;
  display: block;
}
.equals .square_equal .full_square p {
  text-align: center;
}
.equals .square_equal .full_square .discr {
  width: 204px;
}
.equals .square_equal .full_square .flex_box {
  align-items: flex-start;
}
.equals .square_equal .full_square .flex_box .lighter_box {
  border-radius: 10px;
  padding: 20px;
  min-height: 320px;
  justify-content: flex-start;
}
.equals .square_equal .full_square .flex_box .lighter_box img {
  margin-top: 10px;
}
.equals .square_equal .full_square .flex_box .lighter_box .discr_duo {
  width: 222px;
}
.equals .square_equal .full_square .flex_box .lighter_box .container_with_fraction .elem .fraction p {
  margin: 0;
}
.equals .beesquare_equals .box h4 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.equals .beesquare_equals .box p {
  text-align: center;
  margin-bottom: 0;
}
.equals .beesquare_equals .box .flex_box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.equals .beesquare_equals .box .flex_box .lighter_box {
  border-radius: 10px;
  padding: 20px;
  width: 47%;
}
.equals .beesquare_equals .box .flex_box .lighter_box p {
  margin-bottom: 1rem;
}
.equals .beesquare_equals .box .flex_box .lighter_box .example {
  text-align: center;
  font-weight: 700;
}
.equals .beesquare_equals .box .flex_box .lighter_box .beesquare_root-1 {
  width: 56.5px;
  display: block;
  margin: 0 auto;
}
.equals .beesquare_equals .box .flex_box .lighter_box .beesquare_root-2 {
  width: 67.75px;
  display: block;
  margin: 12px auto 12px auto;
}
.equals .rational_equals .box .container_with_fraction {
  margin: 10px;
}
.equals .rational_equals .to p {
  margin: 0;
}
.equals .irrational .box {
  padding: 20px;
}
.equals .irrational .box img {
  width: 306px;
  display: block;
  margin: 0 auto;
}
.equals .irrational .box p {
  margin-bottom: 20px;
}
.equals .irrational .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.ineq .ineq_properties .box {
  border-radius: 30px;
}
.ineq .ineq_kinds .box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
.ineq .ineq_kinds .box .lighter_box {
  border-radius: 10px;
  padding: 20px;
  width: 495px;
  margin: 10px;
}
.ineq .ineq_kinds .box .lighter_box .ineq-2 {
  width: 388px;
}
.ineq .ineq_kinds .box .lighter_box .ineq-3 {
  width: 418px;
  margin-bottom: 10px;
}
.ineq .ineq_kinds .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ineq .ineq_kinds .box .lighter_box .example {
  text-align: center;
}
.ineq .ineq_kinds .box .lighter_box .sample .ineq-1 {
  width: 170px;
  margin-bottom: 10px;
}
.ineq .ineq_kinds .box .lighter_box .sample p {
  margin: 5px;
}
.ineq .interval_method .box {
  display: flex;
}
.ineq .interval_method .box .lighter_box {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.ineq .interval_method .box .lighter_box .ineq-4 {
  width: 468px;
  margin-bottom: 10px;
}
.ineq .interval_method .box .lighter_box .ineq-5 {
  width: 456px;
  margin-bottom: 10px;
}
.ineq .interval_method .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.ineq .change_unnown .box {
  width: 45%;
}
.ineq .change_unnown .box .ineq-6 {
  width: 425px;
  margin-bottom: 10px;
}
.ineq .systems .box {
  width: 45%;
}
.ineq .systems .box .ineq-7 {
  width: 400px;
}

.graphs .graph-about {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 35px;
  align-items: flex-start;
}
.graphs .graph-about .graph-1 {
  width: 300px;
  margin-top: 10px;
}
.graphs .graph-about div {
  width: 700px;
}
.graphs .graph-about div p {
  margin: 10px 0;
}
.graphs .box {
  padding: 5px;
}
.graphs .box .lighter_box {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.graphs .box .lighter_box img {
  width: 200px;
  margin: 10px;
}
.graphs .box .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.graphs .box .lighter_box h5 {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 20px;
}
.graphs .box .lighter_box .flex_box {
  display: flex;
}
.graphs .box .lighter_box .flex_box .column {
  width: 500px;
}
.graphs .box .lighter_box .flex_box .text {
  margin-top: 10px;
  width: 440px;
}
.graphs .box .lighter_box .flex_box .text .container_with_fraction {
  justify-content: flex-start;
}
.graphs .indicate_func .box {
  padding: 20px;
}
.graphs .indicate_func .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.graphs .indicate_func .box h5 {
  font-size: 17px;
  text-align: center;
  font-weight: 500;
}
.graphs .indicate_func .box .flex_box {
  display: flex;
}
.graphs .indicate_func .box .flex_box .column {
  width: 500px;
}
.graphs .indicate_func .box .flex_box .column img {
  width: 200px;
  margin: 10px;
}
.graphs .indicate_func .box .flex_box .text {
  margin-top: 10px;
}
.graphs .mod_func .box .lighter_box h4 {
  text-transform: lowercase;
  margin-bottom: 10px;
}
.graphs .mod_func .box .lighter_box .img {
  display: flex;
  justify-content: center;
}
.graphs .mod_func .box .lighter_box .img img {
  margin: 10px 20px;
}

.logs .about_log .box .lighter_box {
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}
.logs .about_log .main_log_func {
  padding: 20px;
  width: 1075px;
  position: relative;
  left: 35px;
  border-radius: 10px;
  margin-top: 20px;
}
.logs .about_log .main_log_func h4 {
  margin-bottom: 10px;
}
.logs .about_log .main_log_func p {
  margin: 0;
  font-size: 20px;
}
.logs .log_formules .box {
  width: 500px;
  margin: 0 auto;
}
.logs .log_formules .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.logs .log_formules .box p {
  margin: 10px 0;
  text-align: center;
}
.logs .log_formules .box .container_with_fraction {
  margin: 10px auto;
  justify-content: center;
}
.logs .log_formules .box .container_with_fraction .elem {
  margin: 0 5px;
}
.logs .log_formules .box .container_with_fraction .elem .fraction p {
  margin: 0;
}
.logs .log_formules .box .container_with_fraction .elem .fraction hr {
  margin: 1px 5px;
}
.logs .log_formules .second_method {
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin: 50px auto 0 auto;
  position: relative;
  left: 35px;
}
.logs .log_formules .second_method h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.logs .log_formules .second_method .column-1 {
  margin-right: 20px;
}
.logs .log_formules .second_method .column-1 p {
  text-align: right;
}
.logs .log_formules .second_method .column-2 {
  margin-left: 20px;
}
.logs .log_formules .second_method .column-2 p {
  text-align: left;
}
.logs .log_formules .second_method .flex_box {
  display: flex;
  justify-content: center;
}
.logs .log_func .box {
  padding: 30px 20px;
}
.logs .log_func .box .flex_box {
  display: flex;
  justify-content: space-around;
}
.logs .log_func .box .flex_box .column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logs .log_func .box .flex_box .column-1 img {
  width: 200px;
  margin: 10px;
}
.logs .log_func .box .flex_box .column-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0;
}
.logs .log_func .box .flex_box .column-2 div {
  margin: 20px 0;
}
.logs .log_func .box .flex_box .column-2 h4 {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.logs .log_ineq .second {
  padding: 20px 30px 20px 30px;
}
.logs .log_ineq .second h4 {
  text-align: center;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
.logs .log_ineq .second p {
  margin: 5px 0;
}
.logs .log_ineq .second .yellow {
  margin-bottom: 15px;
}
.logs .log_equals .second p {
  margin: 5px 0;
}

.prob .prob_part .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.prob .prob_part .box .flex_box {
  width: 490px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.prob .prob_part .box .flex_box div p {
  margin: 5px 0;
}
.prob .prob_part .box .flex_box .container_with_fraction {
  justify-content: flex-start;
}
.prob .prob_part .box .flex_box .prob {
  width: 200px;
}
.prob .prob_part .second .flex_box {
  display: block;
}
.prob .prob_part .second .flex_box p {
  margin: 20px 0;
}
.prob .prob_part .second .flex_box img {
  width: 160px;
  margin: 10px 0;
}

.trigo .trig_in_triangle .box {
  display: flex;
  justify-content: space-around;
}
.trigo .trig_in_triangle .box .trig-1 {
  height: 156px;
}
.trigo .trig_arbitrary_angle .box .second {
  width: 600px;
  margin: 0 auto;
}
.trigo .trig_arbitrary_angle .box .second p {
  text-align: center;
}
.trigo .trig_arbitrary_angle .box .first {
  display: flex;
  justify-content: center;
}
.trigo .trig_arbitrary_angle .box .trig-2, .trigo .trig_arbitrary_angle .box .trig-3 {
  width: 300px;
  margin: 0 0 10px 0;
}
.trigo .trig_arbitrary_angle .second {
  display: flex;
  justify-content: space-between;
}
.trigo .trig_arbitrary_angle .second img {
  width: 250px;
}
.trigo .tri-formules .first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
.trigo .tri-formules .first p {
  width: 200px;
  text-align: center;
  margin: 10px 10px;
}
.trigo .tri-formules .third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.trigo .tri-formules .third .third_elem {
  width: 400px;
  margin: 0;
}
.trigo .tri-formules .second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trigo .tri-formules .second .lighter_box {
  width: 490px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.trigo .tri-formules .second .lighter_box h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
.trigo .tri-formules .second .lighter_box p {
  margin: 9px 0;
  text-align: center;
}
.trigo .tri-formules .second .lighter_box .container_with_fraction {
  justify-content: center;
}
.trigo .tri-formules .second .lighter_box .container_with_fraction p {
  margin: 0;
}
.trigo .tri-formules .second .lighter_box .container_with_fraction hr {
  margin: 1px 5px;
}
.trigo .tri-tablet .tri-table {
  width: 649px;
  position: relative;
  left: 35px;
  margin-top: 20px;
}
.trigo .tri-funcs .box .flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trigo .tri-funcs .box .flex_box .tri-func {
  width: 450px;
  margin: 20px;
}
.trigo .tri-funcs .box .flex_box .arc-f {
  width: 300px;
  margin: 20px;
}
.trigo .tri-funcs .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
}
.trigo .tri-funcs .box .second {
  width: 750px;
  margin: 0 auto;
  justify-content: space-between;
}
.trigo .tri_equals .box .lighter_box {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}
.trigo .tri_equals .box .lighter_box h4 {
  font-weight: 500;
  text-align: center;
  font-size: 23px;
  margin-bottom: 10px;
}
.trigo .tri_equals .box .lighter_box h5 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.trigo .tri_equals .box .lighter_box .flexes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trigo .tri_equals .box .lighter_box .flexes .flex_box {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.trigo .tri_equals .box .lighter_box .flexes .flex_box h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}
.trigo .tri_equals .box .lighter_box .flexes .flex_box .sin-1 {
  width: 250px;
  margin: 10px;
}
.trigo .tri_equals .box .lighter_box .flexes .flex_box .tg-1 {
  width: 500px;
  margin: 10px;
}
.trigo .tri_equals .box .lighter_box .flexes hr {
  width: 100%;
}
.trigo .tri_equals .tri-methods h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin: 10px 0 20px 0;
}
.trigo .tri_equals .tri-methods ul {
  text-align: center;
  list-style-type: none;
}
.trigo .tri_equals .tri-methods ul li {
  margin: 10px;
}
.trigo .priv_formules .priv {
  padding: 10px;
}
.trigo .priv_formules .priv .lighter_box {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.trigo .priv_formules .priv .lighter_box .priv-1 {
  width: 974px;
  margin-bottom: 10px;
}
.trigo .priv_formules .priv .lighter_box p {
  margin: 0;
}
.trigo .priv_formules .priv .priv-2 {
  width: 155px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.derivative_main .derivative .first {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.derivative_main .derivative .first .flex_box {
  width: 600px;
}
.derivative_main .derivative .first img {
  width: 350px;
}

.vectors .first_cont {
  margin-bottom: 10px;
}
.vectors .vectors_planimetry .left {
  margin-bottom: 50px;
}
.vectors .vectors_planimetry .box {
  padding: 20px;
}
.vectors .vectors_planimetry .box h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.vectors .vectors_planimetry .box .cord_vect {
  width: 400px;
  margin: 20px auto;
  display: block;
}
.vectors .vectors_planimetry .box .vec-3 {
  width: 300px;
  display: block;
  margin: 40px auto;
}
.vectors .vectors_planimetry .box .vec-4 {
  width: 200px;
  display: block;
  margin: 40px auto 30px auto;
}
.vectors .vectors_planimetry .box .scal {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.vectors .summ_vectors .box {
  padding: 20px;
}
.vectors .summ_vectors .box h4 {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.vectors .summ_vectors .box .vec-5 {
  height: 130px;
}
.vectors .summ_vectors .box .lighter_box {
  display: flex;
  justify-content: space-between;
}
.vectors .summ_vectors .box .flex_box {
  border-radius: 10px;
  padding: 20px;
  width: 500px;
}
.vectors .summ_vectors .box .flex_box h5 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
.vectors .summ_vectors .box .flex_box .summ-text {
  margin-bottom: 20px;
  line-height: 25px;
}
.vectors .summ_vectors .box .flex_box .vec-5 {
  display: block;
  margin: 30px auto 0 auto;
}
.vectors .summ_vectors .box .vec-7 {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.vectors .summ_vectors .box .light_box {
  border-radius: 10px;
  width: 500px;
  margin: 30px auto 30px auto;
  padding: 30px;
}

section {
  margin-bottom: 50px;
}

.left {
  position: relative;
  left: 35px;
}

.bottom_nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_nav a {
  padding: 20px;
  border-radius: 20px;
  height: 30px;
  margin: 0 20px;
}
.bottom_nav a div {
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  font-weight: 700;
  transform: translateY(-50%);
  position: relative;
}

.axiom_header {
  position: relative;
  left: 45px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
}

.stereo_planes .stereo {
  width: 300px;
  margin-top: 30px;
}

.flex_item {
  width: 500px;
  margin: 20px;
  background-color: #191919;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.geom_lines .flex_cont .flex_item {
  padding-bottom: 30px;
  padding-top: 30px;
}
.geom_lines .flex_cont .flex_item p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}
.geom_lines .flex_cont .line {
  height: 110px;
  margin-top: 20px;
}
.geom_lines .first_cont .parallel {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
  left: 35px;
  margin: 20px 0 10px 0;
}
.geom_lines .parallel_cont .flex_item {
  width: 320px;
  margin: 10px;
}
.geom_lines .parallel_cont .flex_item p sub {
  color: #c7c7c7;
}
.geom_lines .second .flex_item {
  width: 660px;
}
.geom_lines .second .flex_item img {
  height: 200px;
}

.corner .cont_with_el .el {
  width: 500px;
  margin: 20px auto;
}
.corner .cont_with_el .el hr {
  margin: 2px;
}
.corner .box {
  display: flex;
  justify-content: center;
}
.corner .box .wrapper {
  border-radius: 10px;
  background-color: #202020;
  padding: 20px;
  margin: 10px;
  width: 250px;
}
.corner .box .wrapper img {
  margin: 0 auto;
  display: block;
  height: 110px;
}
.corner .box .wrapper h5 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 500;
  font-size: 17px;
}
.corner .box .wrapper p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: #c7c7c7;
}

.geom_triangles .box .triangle-1 {
  height: 200px;
}
.geom_triangles .box p b sub {
  font-weight: 700;
}
.geom_triangles .box .theorem-1 {
  margin-top: 30px;
}
.geom_triangles .first {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.geom_triangles .first .triangle_definition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  flex-wrap: wrap;
}
.geom_triangles .first .triangle_definition .heron {
  height: 53px;
}
.geom_triangles .first .triangle_definition p {
  margin: 5px;
}
.geom_triangles .first .triangle_definition .lighter_box {
  padding: 10px;
  border-radius: 10px;
  background-color: #202020;
  width: 500px;
  border: 2px dashed #c75c5c;
  margin-bottom: 20px;
}
.geom_triangles .first .triangle_definition .lighter_box .container_with_fraction {
  justify-content: flex-start;
}
.geom_triangles .first .triangle_definition .lighter_box .container_with_fraction p {
  margin: 0;
}
.geom_triangles .first .triangle_definition .lighter_box .container_with_fraction hr {
  margin: 1px 0;
}
.geom_triangles .fourth {
  display: flex;
  justify-content: space-between;
}
.geom_triangles .fourth div {
  width: 500px;
}
.geom_triangles .fourth div img {
  height: 120px;
  margin: 0 auto;
  display: block;
}
.geom_triangles .first_cont .triangle_equals p {
  text-align: center;
  font-size: 14px;
  color: #c7c7c7;
}
.geom_triangles .first_cont .triangle_equals_flex {
  display: flex;
  justify-content: space-between;
}
.geom_triangles .first_cont .triangle_equals .h4-med {
  margin-bottom: 0;
}
.geom_triangles .first_cont .triangle_equals .theorem {
  width: 300px;
  margin: 30px 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.geom_triangles .first_cont .tri-second .el {
  width: 520px;
  margin: 0;
}
.geom_triangles .first_cont .heronFormule {
  justify-content: flex-start;
  width: 700px;
}
.geom_triangles .first_cont .heronFormule .heronRoot {
  height: 23px;
  margin-left: 5px;
}
.geom_triangles .first_cont .first .container_with_fraction {
  margin-left: 5px;
}
.geom_triangles .first_cont .cont_with_el .simHeightsTri {
  height: 120px;
  margin: 20px 20px 0 20px;
}
.geom_triangles .first_cont .cont_with_el .simHeightsTriText {
  height: 35px;
}
.geom_triangles .first_cont .second {
  display: flex;
  justify-content: space-between;
  width: 1075px;
  position: relative;
  left: 35px;
  margin-top: 90px;
}
.geom_triangles .first_cont .second .wrapper {
  border-radius: 40px;
  background-color: #191919;
  padding: 20px;
  width: 250px;
}
.geom_triangles .first_cont .second .wrapper .triangle_corners {
  height: 120px;
  margin: 0 auto;
  display: block;
}
.geom_triangles .first_cont .second .wrapper h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 0;
}
.geom_triangles .first_cont .second .wrapper p {
  text-align: center;
  color: #c7c7c7;
  font-size: 14px;
  margin: 2px;
}
.geom_triangles .first_cont .second .wrapper .first_definition {
  margin-bottom: 15px;
  margin-top: 0;
}
.geom_triangles .first_cont .third {
  position: relative;
  left: 35px;
  width: 1075px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-top: 30px;
}
.geom_triangles .first_cont .third .wrapper {
  border-radius: 40px;
  background-color: #191919;
  padding: 20px;
  width: 520px;
}
.geom_triangles .first_cont .third .wrapper .triangle_corners {
  height: 120px;
  display: block;
  margin: 0 auto;
}
.geom_triangles .first_cont .third .wrapper h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 0;
}
.geom_triangles .first_cont .third .wrapper p {
  text-align: center;
  color: #c7c7c7;
  font-size: 14px;
  margin: 2px;
}
.geom_triangles .first_cont .triangles_similarity p {
  text-align: center;
  font-size: 14px;
  color: #c7c7c7;
}
.geom_triangles .first_cont .triangles_similarity .theorem_first {
  margin-bottom: 20px;
  text-align: center;
  background-color: #202020;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
}
.geom_triangles .first_cont .triangles_similarity .h4-med_second {
  margin-top: 30px;
  margin-bottom: 20px;
}
.geom_triangles .first_cont .triangles_similarity .triangle_similarity_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.geom_triangles .first_cont .triangles_similarity .triangle_similarity_flex .theorem {
  border-radius: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.geom_circles .inscribed_circle .inscribed_circle_first {
  display: flex;
  justify-content: space-between;
}
.geom_circles .inscribed_circle .inscribed_circle_first .lighter_box {
  width: 500px;
  border-radius: 10px;
  background-color: #202020;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.geom_circles .inscribed_circle .inscribed_circle_first .lighter_box img {
  height: 150px;
  margin-right: 10px;
}
.geom_circles .inscribed_circle .inscribed_circle_first .lighter_box p {
  margin-bottom: 0;
}
.geom_circles .inscribed_circle .final {
  padding: 10px;
}
.geom_circles .inscribed_circle .final p {
  background-color: #202020;
  margin: 30px;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .h4-med {
  margin-top: 30px;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .inscribed_circle_second {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .inscribed_circle_second p {
  margin: 12px 0;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .inscribed_circle_second img {
  height: 200px;
  margin-right: 50px;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .last {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .last p {
  margin: 3px 20px;
  text-align: center;
  font-size: 14px;
  color: #c7c7c7;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .inscribed_right_polygon_formules {
  display: flex;
  position: relative;
  left: 35px;
  width: 1075px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #191919;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .inscribed_right_polygon_formules .container_with_fraction {
  background-color: #202020;
  border-radius: 10px;
  border: 2px dashed #c75c5c;
  padding: 10px;
  width: 200px;
}
.geom_circles .inscribed_circle .right_polygon_inscribed .inscribed_right_polygon_formules .container_with_fraction hr {
  margin: 2px;
}
.geom_circles .first_cont .cont_with_el {
  justify-content: space-between;
}
.geom_circles .first_cont .cont_with_el .el {
  width: 330px;
}
.geom_circles .first_cont .cont_with_el .thick {
  width: 500px;
}
.geom_circles .first_cont .cont_with_el .thick img {
  height: 200px;
}
.geom_circles .first_cont .cont_with_el .thick p sub, .geom_circles .first_cont .cont_with_el .thick p sup {
  color: #c7c7c7;
}
.geom_circles .first_cont .cont_with_el .thin {
  width: 250px;
}
.geom_circles .first_cont .last .el {
  margin: 10px 12px;
}
.geom_circles .first_cont .last .el img {
  margin-bottom: 10px;
}
.geom_circles .first_cont .circle_formules {
  position: relative;
  left: 35px;
  background-color: #191919;
  border-radius: 10px;
  width: 1075px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.geom_circles .first_cont .circle_formules .circle_formule {
  display: flex;
  align-items: center;
  width: 200px;
  text-align: center;
  justify-content: center;
  padding: 3px;
  border-radius: 10px;
  border: 2px dashed #c75c5c;
  background-color: #202020;
  margin: 0;
}
.geom_circles .first_cont .circle_formules .container_with_fraction hr {
  margin: 2px;
}
.geom_circles .first_cont .circle_formule_definition {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.geom_circles .first_cont .circle_formule_definition p {
  color: #c7c7c7;
  font-size: 14px;
  margin: 3px 20px;
  text-align: center;
}
.geom_circles .first {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.geom_circles .first img {
  height: 200px;
}
.geom_circles .first div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  flex-wrap: wrap;
}
.geom_circles .two_circles .cont_with_el {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.geom_circles .two_circles .cont_with_el .el {
  width: 300px;
  margin: 10px;
}
.geom_circles .two_circles .box p {
  text-align: center;
}
.geom_circles .two_circles .box .heading {
  margin-top: 20px;
}
.geom_circles .two_circles .box .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.geom_circles .two_circles .box .wrapper .el {
  width: 300px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-color: #202020;
}
.geom_circles .two_circles .box .wrapper .el img {
  height: 120px;
}
.geom_circles .two_circles .box .wrapper .el p {
  font-size: 14px;
  color: #c7c7c7;
  margin-bottom: 0;
}
.geom_circles .two_circles .box_center {
  margin: 0;
  margin-top: 50px;
  position: relative;
  left: 35px;
  width: 1075px;
}
.geom_circles .two_circles .tangent {
  justify-content: space-between;
}
.geom_circles .two_circles .tangent .el {
  width: 500px;
}

.arc .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.arc .box .wrapper {
  display: flex;
  flex-direction: column;
}
.arc .box .wrapper .corner_in_circle {
  height: 120px;
  margin: 10px;
}
.arc .box .second {
  width: 700px;
}
.arc .final .el {
  width: 500px;
  margin: 20px 0;
}

.polygons .first_cont .convex_polygon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.polygons .first_cont .convex_polygon p {
  margin: 10px 0;
}
.polygons .first_cont .convex_polygon .convex {
  height: 120px;
  margin: 30px;
  margin-right: 50px;
}
.polygons .first_cont .convex_polygon .container_with_fraction {
  justify-content: flex-start;
}
.polygons .first_cont .convex_polygon .container_with_fraction .elem {
  margin: 0 5px;
}
.polygons .first_cont .convex_polygon .container_with_fraction .elem .fraction p {
  margin: 5px 0;
}
.polygons .first_cont .convex_polygon .container_with_fraction hr {
  margin: 0;
}
.polygons .right_polygon .box hr {
  margin: 2px 0;
}
.polygons .right_polygon .box .text {
  text-align: center;
}
.polygons .polygon_similarity .theorem {
  position: relative;
  left: 35px;
  width: 1075px;
}

.right_triangle .box .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right_triangle .box .flex-box .first {
  width: 300px;
}
.right_triangle .box .flex-box .first img {
  height: 120px;
  display: block;
  margin: 0 auto;
}
.right_triangle .box .flex-box .second {
  width: 700px;
}
.right_triangle .box .flex-box .second p {
  margin: 5px 0;
}
.right_triangle .right_triangle_equals_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.right_triangle .right_triangle_equals .h4-med {
  margin-bottom: 0;
}
.right_triangle .right_triangle_equals .theorem {
  width: 200px;
  margin: 30px 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_triangle .average_proporcional .h4-med {
  margin-bottom: 20px;
}
.right_triangle .average_proporcional_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.right_triangle .average_proporcional .average_proporcional_img {
  height: 200px;
  margin-right: 70px;
  margin-left: 20px;
}
.right_triangle .average_proporcional .average_img {
  height: 18px;
  margin-bottom: 1rem;
}
.right_triangle .average_proporcional .average_img_1 {
  height: 18px;
  margin-bottom: 3px;
}
.right_triangle .average_proporcional .average_img_2 {
  height: 47px;
  margin-bottom: 1rem;
}
.right_triangle .trig_in_right_triangle_box {
  padding: 15px 30px 30px 30px;
}
.right_triangle .trig_in_right_triangle_box .h4-med {
  text-transform: none;
  font-size: 20px;
}
.right_triangle .trig_in_right_triangle_box .trig_in_right_triangle_flex {
  display: flex;
  justify-content: space-between;
}
.right_triangle .trig_in_right_triangle_box .trig_in_right_triangle_flex img {
  height: 200px;
  margin-left: 30px;
}
.right_triangle .trig_in_right_triangle_box .trig_in_right_triangle_flex .trig_in_right_triangle_wrapper {
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.right_triangle .trig_in_right_triangle_box .trig_in_right_triangle_flex .trig_in_right_triangle_wrapper .container_with_fraction {
  justify-content: center;
  background-color: #202020;
  border: 2px dashed #c75c5c;
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  margin: 10px 0;
}

.quadrate .first_cont .first {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.quadrate .first_cont .first img {
  margin-right: 50px;
  height: 200px;
}
.quadrate .parallelogram .flex {
  padding: 30px;
  align-items: center;
}
.quadrate img.parallelogram-1 {
  height: 120px;
  margin-right: 50px;
}
.quadrate .trapezoid .flex {
  padding: 30px;
  align-items: center;
}

.rectangle .flex {
  padding: 30px;
  align-items: center;
}

.gomothety .first_cont .box {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.gomothety .first_cont .box img {
  margin-right: 70px;
  height: 200px;
}

.stereo_planes .line_plane .cont_with_el {
  margin-bottom: 20px;
  justify-content: center;
}
.stereo_planes .line_plane .cont_with_el .el {
  width: 330px;
  padding: 20px;
  margin: 10px;
  justify-content: center;
}
.stereo_planes .line_plane .cont_with_el .el img {
  width: 250px;
  margin: 10px 0 20px 0;
}
.stereo_planes .parallel_planes .cont_with_el {
  justify-content: center;
}
.stereo_planes .parallel_planes .cont_with_el .el {
  width: 320px;
  margin: 10px 20px;
}
.stereo_planes .parallel_planes .cont_with_el .el img {
  margin-bottom: 20px;
}
.stereo_planes .parallel_planes .cont_with_el .el .parallel_planes_2 {
  height: 200px;
}

.stereo_corners .first_cont .box {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}
.stereo_corners .first_cont .box .flex_item img {
  width: 300px;
  margin: 30px 0;
}

.inclined .first_cont .box {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.inclined .first_cont .box img {
  width: 300px;
}
.inclined .first_cont .cont_with_el .el {
  width: 340px;
  margin: 20px 0;
}/*# sourceMappingURL=style.css.map */